<div class="container-fluid">
    <div class="row">
        <!-- <h1 ng-show="expertMain.isProfileShown"> {{loggedText}} </h1> -->
    </div>
</div>


<div class="container-fluid">
    <div class="row outerBox">
        <!-- <div ng-repeat="q in expertMain.qArray track by $id($index)" -->
        <div ng-repeat="q in expertMain.qArray | ruhReverse track by $id($index)"
             id="question"
             class="col-md-12">


<div class="row displayBox">

                <button ng-class="q.qStatus"
                        ng-click="expertMain.answerQuestion(q._id)"
                        class="button ">{{q.qInTime | date:'MM/dd/yyyy @ h:mma'}}</button>

                <button class="button "
                ng-mouseenter="expertMain.showUserDetails()"
                ng-mouseleave="expertMain.hideUserDetails()">{{q.qUser}}</button>


                <button class="button "
                    ng-mouseenter="expertMain.showQuestionDetails()"
                    ng-mouseleave="expertMain.hideQuestionDetails()">{{q.qSubject}}</button>

                <button class="button"
                    ng-mouseenter="expertMain.showCommentArray()"
                    ng-mouseleave="expertMain.hideCommentArray()">Comments</button>
</div>

<div class="row">
                    <div class="col-md-12">
                        <p id="questionBox">{{q.qText}} </p>
                    </div>
</div>

<div class="row" ng-show="expertMain.isCommentsShown">
   {{q.qCommentArray[0].cText}}
</div>


        </div>   <!-- ng-repeat -->
    </div>
</div>
