<div>

  <div class="container-fluid ">

      <form ng-submit="loginMain.login()">
          <div class="login-header">
              <h2>{{loginMain.mainText}}</h2>
              <h5>{{loginMain.subText}}</h5>
          </div>

          <div class="login-body">
              <input type="text"
                      class="questionText"
                      ng-model="loginMain.uname"
                      placeholder={{loginMain.emailText}} />

              <input type="text"
                      class="questionText"
                      ng-model="loginMain.pwd"
                      placeholder={{loginMain.passwordText}} />

          </div>

          <div class="login-footer">
              <button type="submit" class="btn btn-primary mButton">Login</button>
          <h5>{{loginMain.keepText}}</h5>
          <h5>{{loginMain.forgotText}}</h5>
        </div>
      </form>
  </div>

</div>
