<div id="office" class="container-fluid ">
<div class="row">
  <div class="canvas-group" >
    <header class="formHeader">
        <h4>{{officeMain.takePhoto}}</h4>
    </header>
      <div  class="row">
          <canvas id="canvas1" class="sepia">
          </canvas>
          <canvas id="canvas2" >
          </canvas>
      </div>
  </div>
</div>

<div class="row">

      <button class="col-sm-3 btn btn-primary mButton"
                ng-click="officeMain.start()">
                {{officeMain.startBtn}}</button>

      <button  class="col-sm-3 btn btn-primary mButton"
                ng-click="officeMain.send()">
                {{officeMain.sendBtn}}</button>

      <button  class="col-sm-3 btn btn-primary mButton"
                ng-click="officeMain.close()">
                {{officeMain.closeBtn}}</button>
</div>


</div>
