<div id="profile" class="container-fluid ">
<h2>{{profileMain.mainText}}</h2>

<form>
<div class="row">
  <header class="formHeader">

      <h5>{{profileMain.subText}}</h5>
  </header>
            <div class="form-group col-sm-3">
                <label for="pOldPass">Enter current password</label>
                <input type="text"
                        id="pOldPass"
                        class="questionText"
                        ng-model="profileMain.pOldPass"
                        placeholder={{profileMain.oldPasswordText}} >
            </div>

            <div class="form-group col-sm-3">
                <label for="pNewPass">Enter New Password </label>
                <input type="text"
                        id="pNewPass"
                        class="questionText"
                        ng-model="profileMain.pNewPass"
                        placeholder={{profileMain.newPasswordText}} >
            </div>

            <div class="form-group col-sm-3">
                <label for="pPassCheck">ReEnter New Password </label>
                <input type="text"
                        id="pPassCheck"
                        class="questionText"
                        ng-model="profileMain.pPassCheck"
                        placeholder={{profileMain.checkPasswordText}} >
            </div>

</br>
            <button ng-click="profileMain.changePassword()" class="btn btn-primary mButton">Change Password</button>
</div>
</form>



    <form class="ruhProfile" ng-submit="profileMain.changePassword()">

        <header class="formHeader">
            <h4>{{profileMain.addText}}</h4>
        </header>

<section class="formBody">
          <div ng-repeat="x in profileMain.data.categories">
          <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1">{{x.subjectName}}</label>
          </div>
</section>


        <footer class="formFooter">
            <button type="submit" class="btn btn-primary mButton">{{profileMain.addButtonText}}</button>
        </footer>
    </form>


</div>
