<div id="profile" class="container-fluid ">
<h2>{{profileMain.mainText}}</h2>
<div class="row">
<form>

  <header class="formHeader">

      <h4>{{profileMain.subText}}</h4>
  </header>
            <div class="form-group col-sm-3">
                <label for="pOldPass"> old password</label>
                <input type="text"
                        id="pOldPass"
                        class="questionText"
                        ng-model="profileMain.pOldPass"
                        placeholder={{profileMain.oldPasswordText}} >
            </div>

            <div class="form-group col-sm-3">
                <label for="pNewPass"> new password </label>
                <input type="text"
                        id="pNewPass"
                        class="questionText"
                        ng-model="profileMain.pNewPass"
                        placeholder={{profileMain.newPasswordText}} >
            </div>

            <div class="form-group col-sm-3">
                <label for="pPassCheck">retype password </label>
                <input type="text"
                        id="pPassCheck"
                        class="questionText"
                        ng-model="profileMain.pPassCheck"
                        placeholder={{profileMain.checkPasswordText}} >
            </div>

          <div class="row">
          <footer class="col-md-4 text-center" >
            <button ng-click="profileMain.changePassword()"
                    class="btn btn-primary mButton">Change Password</button>
</br>
            <a href="/logout">Logout</a>
          </footer>
          </div>

</form>
</div>

<div class="row">
    <form class="form-group col-sm-12">

        <header class="formHeader">
            <h4>{{profileMain.addExpertice}}</h4>
        </header>

        <section class="formBody">
            <div class="checkWrapper" ng-repeat="x in profileMain.data.categories">
                <label class="checkbox-inline">
                    <input type="checkbox"
                            id="inlineCheckbox1"
                            value="option1">{{x}}</label>
            </div>
        </section>


        <footer class="col-md-4 text-center" >
            <button type="submit" class="btn btn-primary mButton">{{profileMain.addExperticeBtn}}</button>
        </footer>
    </form>
</div>

<div class="row">
    <form class="form-group col-sm-12">

        <header class="formHeader">
            <h4>{{profileMain.addInterests}}</h4>
        </header>

        <section class="formBody">
            <div class="checkWrapper" ng-repeat="x in profileMain.data.categories">
                <label class="checkbox-inline">
                    <input type="checkbox"
                            id="inlineCheckbox1"
                            value="option1">{{x}}</label>
            </div>
        </section>


        <footer class="col-md-4 text-center" >
            <button type="submit" class="btn btn-primary mButton">{{profileMain.addInterestsBtn}}</button>
        </footer>
    </form>
</div>

<div class="canvas-group" >
  <header class="formHeader">
      <h4>{{profileMain.takePhoto}}</h4>
  </header>
    <!-- <div  class="row">
        <canvas col-sm-3>
        </canvas>
        <canvas col-sm-3>
        </canvas>
        <canvas col-sm-3>
        </canvas>
        <canvas col-sm-3>
        </canvas>

    <footer class="col-md-4 text-center" >
        <button type="submit" class="btn btn-primary mButton">{{profileMain.takePhotoBtn}}</button>
    </footer>
    </div> -->

</div>

</div>
