
    <link href="css/ruh_question.css" rel="stylesheet">

    <div id="question-container" class="container-fluid ">

                    <form ng-submit="questionMain.addQuestion()" >

                        <div >
                            <input type="text"
                                    class="questionText"
                                    ng-model="questionMain.qTrying"
                                    placeholder="What are you trying to achieve?" />

                            <input type="text"
                                    class="questionText"
                                    ng-model="questionMain.qText"
                                    placeholder="enter a summary of the problem..." />

                            <input type="text"
                                    class="questionText"
                                    ng-model="questionMain.qTried"
                                    placeholder="What have you tried so far" />
                            </br>
                            <select ng-model="questionMain.selectedCat" ng-options="x.subjectName for x in questionMain.data.categories">
                            </select>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary">Submit Question</button>
                          </br>
                            <button ng-click="questionMain.makeOffer()" id="callButton">Connect</button>
                        </div>
                    </form>

    </div>
