

    <div class="container-fluid ">
        <div class=" question-container">
            <h3> {{questionMain.message}} </h3>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Compose a Question
            </button>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form ng-submit="questionMain.addQuestion()">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">describe the problem</h4>
                        </div>

                        <div class="modal-body">
                            <input type="text" class="questionText" ng-model="questionMain.question" placeholder="enter a summary of the problem..." />
                        </div>

                        <button>
                            <div class="">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> SUBJECT
                      <strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="cat in questionMain.data.categories">
                                            {{cat.subjectName}}
                                        </li>
                                    </ul>
                                </li>
                            </div>
                        </button>

                        <button>
                            <div class="">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{questionMain.data.categories[0].subjectName}}
                      <strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="area in questionMain.data.categories[0].subAreas">
                                            {{area}}
                                        </li>
                                    </ul>
                                </li>
                            </div>
                        </button>

                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                            <button type="submit" class="btn btn-primary">Submit Question</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="container-fluid video-container">
            <div class="row">
                <video id="localVideo" autoplay></video>
                <video id="remoteVideo" autoplay></video>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <button onclick="start()" id="startButton">Start</button>
                <button onclick="makeOffer()" id="callButton">Call</button>
                <button onclick="hangup()" id="hangupButton">Hang Up</button>
            </div>
        </div>
