

h4 {
  text-align: center;
}

h3 {
  text-align: center;
}

h2 {
  text-align: center;
}

video {
  max-width:64rem;
  width:100%;
  max-height:30.875rem;
  /*border-radius: 5px;
  border-style: double;
  border-color: rgb(252,182,20);*/
}


.mButton {
  background-color: rgb(252,182,20);
  color: black;
}

.video-container{
  text-align: center;
  margin: 60px 20px 20px 20px;
  padding: 20px 20px;
  /*background-color: black;*/
  border-radius: 5px;
  border-style: double;
  border-color: black
}

.outerBox{
  margin: 50px 20px 10px;
  padding:10px;
  /*border-radius: 5px;
  border-style: double;
  border-color: rgb(252,182,20)*/
}

.buttonsBox{
  margin: 10px;
  padding:10px;
  border-radius: 5px;
  border-style: double;
  border-color: green
}


.green {
    background-color: green;
    font-weight: bold;
}

.red {
    background-color: red;
    font-weight: bold;
}

.yellow {
    background-color: yellow;
    font-weight: bold;
}

.orange {
    background-color: orange;
    font-weight: bold;
}

#main-nav{
  position:fixed;
  width: 100%;
  top: 0;
  border-bottom-color: rgb(252,182,20);
}


#profile{
  margin: 60px 20px;
  padding: 10px 20px;
  /*border-radius: 5px;
  border-style: double;
  border-color: black*/
}

#profile form{
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0px;
  border-radius: 5px;
  border-style: double;
  border-color: rgb(252,182,20)
}

#profile .formBody{
  display: inline-flex;
  padding: 10px 20px;
  /*border-radius: 5px;
  border-style: double;
  border-color: red*/
}

#profile .checkWrapper{
  margin: 10px 20px;
}



#question{
  text-align: center;
  margin: 10px 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border-style: double;
  border-color: black
}

#question.questionText {
    height: 30px;
    margin: 5px 5px;
}

#question textarea {
  text-align: center;
  padding: 10px 10px;
  /*border-radius: 5px;
  border-style: double;
  border-color: red*/

  width: 100%;
}

/*#localVideo{
background-color: white;
}

#remoteVideo{
background-color: black;
}
*/

body{
background-color: grey;
color: black;
}
