

body{
    background-color: rgb(127,140,141) ;
}

/*@media (max-width: 500px) {

    figure {
    flex-wrap: wrap;
    }

    main {
    flex-wrap: wrap;
    }

    section {
    flex-wrap: wrap;
    }
}*/

@media (min-width: 384px) {
  /*btn-block {
    display:none;
    width: auto;
  }*/

  .btn-primary {
    color:black;
    /*margin: 30px;
    padding:30px;*/
  }
}

button{
      color:black;
    /*margin: 30px;
  padding:30px;*/
}

header{
    background-color:rgb(46,204,113);
    height:200px;
    position: relative;
}

header H2{
    margin:0;
    position: absolute;
    bottom: 10px;
    left:10px;
}

nav{
    background-color:rgb(52,73,94);
    height:50px;

    font-size: small;     /* "font" very complicated if put lower*/

    display: flex;
    align-items: center;  /* align text vertically */
}

nav ul {
    margin:0px;            /* ul comes with 18px of padding in chrome */
    padding-left: 150px;
}

nav li {
    display:inline-block;     /* flattens the li s */
    text-transform: uppercase;
    padding-left: 10px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;     /* gets rid of the underline*/

}


main{
    margin: auto;           /*easy way to center*/
    width:500px;
    /* height: 100vh;           the 100 is a percent of view*/

    background-color: rgb(236,240,241);
    color:white;
    position: relative;     /* required for aside */
    top:10px;

}

h1{
  text-align: center;
}

section{
    display: block;
    margin: 20px;
    padding:20px;
    color:black;
    /*width:600px;*/

}

video {
  border: solid 5px black;
  /*margin: 20px;*/
  padding:20px;
}



textarea{
    border: solid 2px white;
    margin: 10px;
    padding:10px;
}


figure {
    display: flex;
    text-align: center;
}

figure img{
    margin: 5px 5px;
}

.somecode {
    display: block;
    margin: auto;
    padding:5px;
    color:black;
    width:440px;
    background-color: lightgrey;

    /*border: solid 2px red;*/
}

aside{
    width: 180px;
    height: 200px;
    background-color: rgb(236,240,241);

    position: absolute;
    top: 250px;
    left:510px;

    color:black;
}

aside h4{
    margin: 5px 0px 5px 20px;
}

aside p {
    margin: 0px 0px 5px 30px;
    color: #808080;
}
