

figure {
   max-width:64rem;
   width:100%;
   max-height:30.875rem;
   height:100%;
   margin:1.25rem auto;
   padding:1.051%;
   background-color:#666;
}

h4 {
  text-align: center;
}

h3 {
  text-align: center;
}

video {
  max-width:64rem;
  width:100%;
  max-height:30.875rem;
  border-radius: 5px;
  border-style: double;
  border-color: rgb(252,182,20);
}


.mButton {
  background-color: rgb(252,182,20);
}

.video-container{
  text-align: center;
  margin: 20px 20px;
  padding: 20px 20px;
  border-radius: 5px;
  border-style: double;
  border-color: black
}

.outerBox{
  margin: 50px 20px 10px;
  padding:10px;
  border-radius: 5px;
  border-style: double;
  border-color: red
}

.buttonsBox{
  margin: 10px;
  padding:10px;
  border-radius: 5px;
  border-style: double;
  border-color: green
}


.statusGreen {
    color: green;
    font-weight: bold;
}

.statusRed {
    color: red;
    font-weight: bold;
}

#main-nav{
  position:fixed;
  width: 100%;
  top: 0;
  border-bottom-color: rgb(252,182,20);
}


#profile{
  text-align: center;
  margin: 60px 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border-style: double;
  border-color: rgb(252,182,20)
}

#question{
  text-align: center;
  margin: 60px 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border-style: double;
  border-color: rgb(252,182,20)
}

#question.questionText {
    height: 30px;
    margin: 5px 5px;
}

#question textarea {
  text-align: center;
  padding: 10px 10px;
  border-radius: 5px;
  border-style: double;
  border-color: red

  width: 100%;
}
