<!DOCTYPE html>
<html ng-app="RuhLogin">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RU Stuck</title>
    <meta name="description" content="RU Remote Help System">
    <meta name="author" content="Beltran">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>
</head>

<body ng-controller="RuhLoginController as loginMain">

  <div id="login" class="container-fluid ">
  <h2>{{loginMain.mainText}}</h2>
</br></br></br>
  <form id="login" ng-submit="loginMain.submit()">
  <div class="row">
            <div class="form-group col-sm-offset-5 col-sm-2">
               <label for="lUserName"> {{loginMain.userText}}</label>
                <input type="text"
                        id="lUserName"
                        class="questionText"
                        ng-model="loginMain.email"
                        placeholder={{loginMain.emailText}} />
            </div>
  </div></br>
  <div class="row">
            <div class="form-group col-sm-offset-5 col-sm-2">
               <label for="lPassword"> {{loginMain.passwordText}}</label>
                <input type="password"
                        id="lPassword"
                        class="questionText"
                        ng-model="loginMain.password"
                        placeholder={{loginMain.passwordHint}} />
            </div>
  </div></br></br>
            <div class="form-group col-sm-offset-5 col-sm-6">
                <button type="submit" class="btn btn-primary mButton">Login</button>
            <h5>{{loginMain.keepText}}
            <input type="checkbox"
                    id="keepCheckbox"
                    value="keep"></h5>
            <a href="http://www.w3schools.com">{{loginMain.forgotText}}</a>
          </div>
  </form>


  </div>

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/ruh_login_controller.js"></script>

</body>
</html>
