<!DOCTYPE html>
<html lang="en" ng-app="RuhApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RU Stuck</title>

    <meta name="description" content="Expert Gui for Ru Help System">
    <meta name="author" content="Beltran">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/ruh_expert.css" rel="stylesheet">

</head>

<body ng-controller="RuhExpertController as eMain">

<nav id="main-nav" role="navigation" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="http://www.refactoru.com/" class="navbar-brand">
                <img src="logo.png" alt="RefactorU Company Logo" class="ru-logo">
            </a>
        </div>
        <ul id="outside-navbar" class="nav navbar-nav navbar-right hidden-xs">
            <li class="ru-nav ">
                <a ng-click="eMain.showProfile()" href="#">RU Expert</a>
            </li>
            <li>
                <a href="http://www.refactoru.com/courses/web-development">Intensive Bootcamp</a>
            </li>
            <li>
                <a href="http://learntocode.refactoru.com/online-courses">Online Courses</a>
            </li>
            <li>
                <a href="http://www.refactoru.com/testimonials">Success Stories</a>
            </li>
        </ul>
        <a id="main-menu-button" href="#" data-state="open" class="menu-button menu-button-open"></a>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <h1 ng-show="eMain.isProfileShown"> Logged in as You </h1>
    </div>
</div>


<div class="container-fluid">
    <div class="row outerBox">
        <div ng-repeat="q in eMain.data.questions" id="question" class="col-md-12">

          <div class="buttonsBox">
            <button
                ng-class="eMain.qStatus"
                ng-mouseenter="eMain.makeStatusRed()"
                ng-mouseleave="eMain.makeStatusGreen()"
                href="#">{{q.status}}</button>
            <button class="button ">{{q.time}}</button>
            <button class="button ">{{q.group}}</button>
            <button class="button ">{{q.subject}}</button>
            <button class="button ">{{q.subarea}}</button>


            <div class="row">
                <div class="col-md-12">
                    <p id="questionBox">
                        {{q.question}}
                    </p>
                </div>
            </div>
          </div>
        </div>   <!-- ng-repeat -->
    </div>
</div>

                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
                <script src="js/jquery.min.js"></script>
                <script src="js/bootstrap.min.js"></script>
                <script src="js/ruh_stubData.js"></script>
                <script src="js/ruh_module.js"></script>
                <script src="js/ruh_expert_controller.js"></script>
</body>

</html>
