<!DOCTYPE html>
<html ng-app="RuhApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RUH! Session View</title>

    <meta name="description" content="Expert Gui for Ru Help System">
    <meta name="author" content="Beltran">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/ruh_login.css" rel="stylesheet">
</head>

<body ng-controller="questionController as qMain">

    <nav id="main-nav" role="navigation" class="navbar navbar-default">
        <div class="navbar-header">
            <a href="http://www.refactoru.com/" class="navbar-brand">
                <img src="logo.png" alt="RefactorU Company Logo" class="ru-logo">
            </a>
        </div>
        <ul id="outside-navbar" class="nav navbar-nav navbar-right hidden-xs">
            <li class="ru-nav ">
                <a href="#">RU Stuck</a>
            </li>
            <li>
                <a href="http://www.refactoru.com/courses/web-development">Intensive Bootcamp</a>
            </li>
            <li>
                <a href="http://learntocode.refactoru.com/online-courses">Online Courses</a>
            </li>
            <li>
                <a href="http://www.refactoru.com/testimonials">Success Stories</a>
            </li>
        </ul>
        <a id="main-menu-button" href="#" data-state="open" class="menu-button menu-button-open"></a>
    </nav>



    <div class="container-fluid ">

        <form ng-submit="qMain.addQuestion()">

            <div class="login-header">
                <h4>login to RU Stuck</h4>
            </div>

            <div class="login-body">
                <input type="text"
                        class="questionText"
                        ng-model="qMain.question"
                        placeholder="User Name ..." />

                <input type="text"
                        class="questionText"
                        ng-model="qMain.question"
                        placeholder="Password ..." />
            </div>


            <div class="login-footer">
                <button type="submit" class="btn btn-primary mButton">Login</button>
            </div>

        </form>

    </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/lib/adapter.js"></script>
        <script src="js/ruh_stubData.js"></script>
        <script src="js/ruh_module.js"></script>

</body>

</html>
