<!DOCTYPE html>
<html ng-app="SessionApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RUH! Session View</title>

    <meta name="description" content="Expert Gui for Ru Help System">
    <meta name="author" content="Beltran">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/ruh_question.css" rel="stylesheet">
</head>

<body ng-controller="qController as qMain">

    <nav id="main-nav" role="navigation" class="navbar navbar-default">
        <div class="navbar-header">
            <a href="http://www.refactoru.com/" class="navbar-brand">
                <img src="logo.png" alt="RefactorU Company Logo" class="ru-logo">
            </a>
        </div>
        <ul id="outside-navbar" class="nav navbar-nav navbar-right hidden-xs">
            <li class="ru-nav ">
                <a href="#">RU Stuck</a>
            </li>
            <li>
                <a href="http://www.refactoru.com/courses/web-development">Intensive Bootcamp</a>
            </li>
            <li>
                <a href="http://learntocode.refactoru.com/online-courses">Online Courses</a>
            </li>
            <li>
                <a href="http://www.refactoru.com/testimonials">Success Stories</a>
            </li>
        </ul>
        <a id="main-menu-button" href="#" data-state="open" class="menu-button menu-button-open"></a>
    </nav>



    <div class="container-fluid ">
        <div class=" question-container">
            <h3> {{qMain.message}} </h3>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Compose a Question
            </button>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form ng-submit="qMain.addQuestion()">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>

                        <div class="modal-body">
                            <input type="text" class="questionText" ng-model="qMain.question" placeholder="enter a summary of the problem..." />
                        </div>

                        <button>
                            <div class="">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> SUBJECT
                      <strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="cat in qMain.data.categories">
                                            {{cat.subjectName}}
                                        </li>
                                    </ul>
                                </li>
                            </div>
                        </button>

                        <button>
                            <div class="">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{qMain.data.categories[0].subjectName}}
                      <strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="area in qMain.data.categories[0].subAreas">
                                            {{area}}
                                        </li>
                                    </ul>
                                </li>
                            </div>
                        </button>

                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                            <button type="submit" class="btn btn-primary">Submit Question</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="container-fluid video-container">
            <div class="row">
                <video id="localVideo" autoplay></video>
                <video id="remoteVideo" autoplay></video>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <button onclick="start()" id="startButton">Start</button>
                <button onclick="makeOffer()" id="callButton">Call</button>
                <button onclick="hangup()" id="hangupButton">Hang Up</button>
            </div>
        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/lib/adapter.js"></script>
        <script src="js/ruh_stubData.js"></script>
        <script src="js/ruh_question_module.js"></script>
        <script src="js/ruh_question_controller.js"></script>
        <script src="js/ruh_question_localRTC.js"></script>
</body>

</html>
