<!DOCTYPE html>
<html ng-app="MainApp">

<head>
  <title>Realtime communication with WebRTC</title>
  <link rel="stylesheet" href="css/main.css" />
</head>

<body ng-controller="mainController">

  <h1> {{message}} </h1>

  <input type="text"  ng-model = "newThing" placeholder="add a new thing" />
  <button ng-click="addThing()">Add</button>

<ul>
  <li ng-repeat="thing in things">
    {{thing}}
  </li>
</ul>


  <video id="localVideo" autoplay></video>
  <video id="remoteVideo" autoplay></video>

  <div>
    <button onclick="start()" id="startButton">Start</button>
    <button onclick="makeOffer()" id="callButton">Call</button>
    <button onclick="hangup()" id="hangupButton">Hang Up</button>
  </div>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="js/lib/adapter.js"></script>
  <script src="js/simple.js"></script>

</body>

</html>
